@import "../theme.css";

#about-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#about-commentary {
  width: 60%;
}

#artist-portrait {
  width: 200px;
  height: 200px;
  background-image: url("../pics/wire_frame_box.png");
  background-size: 200px;
  background-repeat: no-repeat;
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
