@import "../theme.css";

#homeContent {
  display: flexbox;
  justify-content: center;
  margin: 20px;
}

#scrollingGallery {
  padding: 10px;
  margin: 10px;
  min-width: 70%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.frontPageHighlight {
  display: flex;
  align-items: center;
}

.highlightNote {
  max-width: 80%;
}

.highlightPic {
  min-height: 12rem;
  min-width: 12rem;
  background-repeat: no-repeat;
  background-size: 12rem;
  margin: 10px 25px;
}

#highlight1 {
  background-image: url("../pics/highlight-images/highlight-script1.jpeg");
}

#highlight2 {
  background-image: url("../pics/highlight-images/highlight-script2.jpeg");
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
