* {
  font-family: "Cormorant Garamond", serif;
  width: auto;
  height: auto;
  text-align: center;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  min-height: 100%;
  display: block;
}
