* {
  width: auto;
  height: auto;
  text-align: center;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.content {
  width: 100%;
  min-height: 100%;
  display: block;
}

.subheader {
  color: #afbb9f;
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
