#Footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  border-top: 3px solid #1b1b1b;
}

#footerNavBarSection {
  grid-column: span 12;
  display: flex;
  justify-content: space-around;
}

.footerNavBarItem {
  text-align: center;
}

#footerSignature {
  text-align: center;
  grid-column: span 12;
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
