.Header-box {
  width: 100%;
  z-index: 3;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

#hidden-header {
  color: #f2f2f2;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding: 5px;
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 3px solid #735a51;
  text-decoration: none;
}

.navBarSection {
  grid-column: span 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBarItem {
  border: solid 1px #735a51;
  border-radius: 15px;
  width: 4rem;
  padding: 15px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.navBarItem:visited {
  text-decoration: none;
  color: #a4ae8c;
}
.navBarItem:hover {
  text-decoration: none;
  color: #a4ae8c;
}
.navBarItem:focus {
  text-decoration: none;
  color: #a4ae8c;
}
.navBarItem:hover,
a:active {
  text-decoration: none;
  color: #735a51;
}

#business-logo-space {
  grid-column: span 4;
  text-align: center;
}

#business-logo {
  text-decoration: none;
}
#business-logo:visited {
  text-decoration: none;
  color: #a4ae8c;
}
#business-logo:hover {
  text-decoration: none;
  color: #a4ae8c;
}
#business-logo:focus {
  text-decoration: none;
  color: #a4ae8c;
}
#business-logo:hover,
a:active {
  text-decoration: none;
  color: #a4ae8c;
}
/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
