@import "../theme.css";

#PageBody {
  flex: 1;
  display: flex;
  max-width: 80%;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-color: var(--background-main);
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
