@import "../theme.css";

#PageBody {
  display: flex;
  padding: 0px 10%;
  max-width: 70%;
  padding-top: 200px;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-color: var(--background-main);
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
