.slideshow {
  margin: 15px auto;
  overflow: hidden;
  max-height: 450px;
  max-width: 300px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 300px;
  background-position-x: center;
  background-color: #afbb9f;
  background-position-y: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
}

.slideshowDot.active {
  background-color: #d5daf8;
}

/* To revisit when doing responsive design editing */
/* @media only screen and (min-width: 920px) {
}

@media only screen and (max-width: 600px) {
  .Header {
    display: flex;
  }
}
*/
