:root {
  --font-primary: #a4ae8c;
  --font-highlight: #8a8787;
  --font-lowlight: #4a4949;
  --background-main: #ffffff;
  --theme-primary: #a4ae8c;
  --theme-primary-highlight: #d0d5c2;
  --theme-secondary: #e6cdaf;
  --theme-highlight: #8a8787;
  --theme-lowlight: #3b3b3b;

  font-family: "Cormorant Garamond", serif;
  color: var(--font-lowlight);
}

.page-header {
  color: var(--font-lowlight);
}
.sub-header {
  color: var(--font-primary);
}
.text {
  color: var(--font-highlight);
}

p {
}

h1 {
}

h2 {
  color: var(--font-lowlight);
}

h3 {
  color: var(--font-primary);
}
